<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
 <!-- to include other template files all you have to do is this following -->
 <% include nav.ejs %>
 <h1>SQL Queries</h1>
 <table>
  <thead>
    <tr>
      <% for( var ele in data[0]) { %>
      <th><%= ele %></th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <%  data.forEach(function(element) { %>
    <tr>
      <% for(var i in  element) { %>
      <td><%= element[i] %></td>
      <% } %>
    </tr>
    <% }); %>
  </tbody>
</table>
<div class="row">
  <pre>
    <code>
  <%- JSON.stringify(data, null, 4) %>
    </code>
  </pre>
</div>
</body>
</html>
